@using PagedList.Mvc;
@model PagedList.PagedList<QuanLyBanHoa.Models.Hoa>
@{
    ViewBag.Title = "TinhYeu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:#0094ff;padding-bottom:4px; text-align:center;background:#ffffff"><b>HOA TÌNH YÊU</b> </h2>
<div class="row">
    <a href="~/Views/TrangChu/TinhYeu.cshtml"></a>
 @foreach (var h in Model)
 {
     <div class="col-md-4 col-md-4 col-md-4" style="padding-left: 15px "> 
        <div class="thumbnail">
            <br />
          <a href="@Url.Action("ChiTiet","TrangChu",new{id =h.MaHoa})">
            <img alt="@h.TenHoa" src="~/Images/@h.HinhAnh" height="400px" width="350px" style="border-radius: 15px"/></a>
          <div>
            <h5>@h.TenHoa </h5>
            <a style="font-size:18px;font-weight:bold;color:#0094ff">@h.Giaban VNĐ</a><br />
          </div>
            <div>
                <button class="Chitiet" type="submit" ><a href="@Url.Action("ChiTiet","TrangChu",new{ id= h.MaHoa})" >Chi tiết</a> </button>
                <button class="ThemGH" type="submit" ><a href="@Url.Action("DatHang","KhachHang",new{ id= h.MaHoa})" >Đặt hàng </a></button>
            </div>
      </div>
    </div>
     
 }
</div>
<div class="PhanTrang">
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
        @Html.PagedListPager(Model,page=> Url.Action("TinhYeu",new{page}))
</div> 
</div>
