
@using QuanLyBanHoa.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Hoa>
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="row">
 @foreach (var h in Model)
 {
     <div class="col-md-4 col-md-4 col-md-4" style="padding-left: 15px "> 
        <div class="thumbnail">
            <br />
          <a href="@Url.Action("ChiTiet","TrangChu",new{id =h.MaHoa})">
            <img alt="@h.TenHoa" src="~/Images/@h.HinhAnh" height="400" width="350"/></a>
          <div>
            <h5>@h.TenHoa </h5>
            <a style="font-size:18px;font-weight:bold;color:#0094ff">  @h.Giaban VNĐ</a><br />
          </div>
            <div>
                <button type="submit" style="background:#0094ff"><a href="@Url.Action("ChiTiet","TrangChu",new{ id= h.MaHoa})" style="color:#ffffff">Chi tiết</a> </button>
                <button type="submit" style="background:#0094ff"><a href="@Url.Action("ThemGioHang", "Giohang", new { @sMaHoa=h.MaHoa, @strURL = Request.Url.ToString() })" style="color:#ffffff">Đặt hàng </a></button>
            </div>
      </div>
    </div>
     
 }
</div>
<div class="PhanTrang">
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
        @Html.PagedListPager(Model,page=> Url.Action("TrangChu",new{page}))
</div> 
</div>